
style .error {
    border: 5px solid red;
    color: #0066ff;
    
}
/* .hasError{
    color:red;
    border: 1px solid gray;
} */

/* .error button{
    box-sizing: border-box;
    background-color:#f3f4f4;
    color:#b9bbbe;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 4%;
    padding: 5px 55px;
    border: none;
    border-radius: 8px
}  */

.formControl .error{
    width: 98%;
    height: 100px;
    margin-right: 5px;
    border: 1px solid red;
    border-radius: 4px;
    cursor: text;
}

/* button{
margin-right: 20px;
box-sizing: border-box;
background-color:#0066ff;
color:white;
text-decoration: none;
font-size: 16px;
font-weight: 500;
line-height: 120%;
letter-spacing: 4%;
padding: 5px 55px;
border: none;
border-radius: 8px
} */