.header {
  display: grid;
  grid-area: header;
  grid-template-rows: 30px;
  grid-template-columns:1fr 1fr;
  background-color: dimgray;
  margin: 0;
  padding: 0;
}
.header{
  box-sizing: border-box;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  height: auto;
}

.loginBlock a{
  display: inline-block;
  position: absolute;
  margin-right: 10px;
  right: 0;
  color: #ffffff; 
}

.loginBlock{
  display: inline-block;
  position: absolute;
  margin-right: 10px;
  right: 0;
  color: #ffffff;
  font-size: 16px;
}

.header button{
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 15px;
  border-radius: 8px;
}

.header button:hover{
  border: 1px solid #fff;
  background-color: #f3f4f4;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 15px;
  border-radius: 8px;
}


.headerLogo h2 {
  margin: auto;
  color: #ffffff;
  font-family: inherit;
  font-size: 38px;
  
}

