.nav {
  grid-area: nav;
  background-color: #dafff6;
}

.item {
  color: #006b6c;
  font-size: 20px;
  text-shadow: 1px 1px 1px #ffffff;
  margin: 1px 10px; 
  text-decoration: none;
}

.active {
  color: #c31952;
  font-size: 20px;
  text-shadow: 1px 1px 1px #ffffff;
  text-decoration: none;
  margin: 1px 10px; 
}