.ProfileInfo {
  display: grid;
  width: 100%;
  background-color: #1a8fb4;
  grid-auto-columns: 1fr 5fr;
  grid-template-rows: 190px 1fr;
}

.avatar img {
  background-color: rgba(255, 255, 255, 0.7);
  width: 160px;
  border-radius: 50%;
  margin: 140px 0px 0px 50px;
  border: 5px solid white;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.heading{
  padding: 10px 5px 5px 20px;
  font-size: 20px;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:unset;
}

.name{
  position: unset;
  margin-left: 240px;
  font-size: 24px;
  font-weight: bold;
}

.about{
  *margin-left: 240px;
  font-size: 13px;
}