.ProfileInfo {
  display: grid;
  background-color: #1a8fb4;
  grid-auto-columns: 1fr 5fr;
  grid-template-rows: 190px 1fr;
}

.avatar img {
  background-color: rgba(255, 255, 255, 0.7);

  width: 160px;
  border-radius: 3em;
  margin: 140px 0px 0px 50px;
  border: 5px solid transparent;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.heading{
  padding: 10px 5px 5px 20px;
  font-size: 20px;
  font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style:unset;
}

.name{
  margin-left: 240px;
  font-size: 24px;
  font-weight: bold;
}

.about{
  margin-left: 240px;
  font-size: 13px;
}